@charset "UTF-8";

/* @import url('./animation.css'); */


/* reset */

html,
body,
object,
img {
    margin: 0;
    padding: 0;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

:root {
    /* altera largura do banner */
    --width: 300px;
    /* altera altura do banner */
    --height: 250px;
    /* altera com da borda do banner */
    --borderColor: #e8e8e8;
    --colorOverlay: #003c71;
    /*  */
    /*  */
    /* Transition */
    /* largura negativa */
    --left: -300px;
    --up: 50px;
}


/* structure */

#content {
    position: relative;
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    background-color: #fff;
}

#fade {
    position: absolute;
    display: block;
    width: var(--width);
    height: var(--height);
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 1;
    z-index: 980;
}

#border {
    position: absolute;
    display: block;
    width: calc(var(--width) - 2px);
    height: calc(var(--height) - 2px);
    top: 0px;
    left: 0px;
    overflow: hidden;
    border: 1px;
    border-style: solid;
    border-color: var(--borderColor);
    opacity: 1;
    z-index: 990;
}


/* elements */

#bg {
    width: var(--width);
    height: var(--height);
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: scale(1);
    /* IE 9 */
    transform: scale(1);
    /* Standard syntax */
}

#bg {
    background: url(../images/bg1.jpg) 0px 0px no-repeat;
    background-size: var(--width) var(--height);
}

#replay {
    cursor: pointer !important;
    display: none;
    position: absolute;
    float: right;
    opacity: 1.5;
    width: 30px;
    height: 30px;
    bottom: 4px;
    right: 6px;
    z-index: 9999;
    background: url(../images/replay.png) 0px 0px no-repeat;
    background-size: 30px 30px;
    transform: rotate(0deg);
}

#controls {
    cursor: pointer !important;
    display: block;
    position: absolute;
    float: right;
    opacity: 1.5;
    width: 30px;
    height: 30px;
    bottom: 4px;
    right: 6px;
    z-index: 9999;
    background: url(../images/controls.png) 0px 0px no-repeat;
    background-size: 30px 60px;
    background-position-y: 0px;
    transform: rotate(0deg);
}

#controls.pause{
	background-position-y: -30px;
}

#mute {
    cursor: pointer !important;
    display: block;
    position: absolute;
    float: right;
    opacity: 1.5;
    width: 30px;
    height: 30px;
    bottom: 4px;
    right: 32px;
    z-index: 9999;
    background: url(../images/mute.png) 0px 0px no-repeat;
    background-size: 30px 60px;
    background-position-y: 0px;
    transform: rotate(0deg);
}

#mute.unmute{
	background-position-y: -30px;
}

#replay:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
    animation: replay 1s forwards;
    animation-direction: alternate;
    -webkit-animation: replay 1s forwards;
    -webkit-animation-direction: alternate;
    -moz-animation: replay 1s forwards;
    -moz-animation-direction: alternate;
}

a.click-through {
    cursor: pointer !important;
    position: absolute;
    width: var(--width);
    height: var(--height);
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 998;
    background: #ffffff;
}


/* botão do hover
sempre arrumar o local do botão */

#legal-open {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 100px;
    left: 100px;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
    display: none;
}


/* visibility */

.show {
    display: block !important;
}

.hide {
    display: none !important;
}


/* fades */

.fade-in {
    opacity: 1 !important;
}

.fade-half {
    opacity: 0.5 !important;
}

.fade-out {
    opacity: 0 !important;
}

.fade-overlay {
    opacity: 0.8 !important;
}

@keyframes replay {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
        ;
    }
    100% {
        transform: rotate(0deg);
        ;
    }
}