:root {
    /* tempo de escala */
    --timeScale: 5s;
}


/* transitions */

.transition-txt-1 {
    -webkit-transition: all ease-in;
	-ms-transition: all ease-out;
	-moz-transition: all ease-out;
    transition: all ease-out ;
    
    -webkit-transition: all cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all cubic-bezier(.25,.46,.45,.94);
    transition: all cubic-bezier(.25,.46,.45,.94);
}

.transition-txt-2{
	-webkit-transition: all ease-in;
	-ms-transition: all ease-out;
	-moz-transition: all ease-out;
	transition: all ease-out ;
		
	-webkit-transition: all cubic-bezier(.27,1.04,.46,1.08);
	-ms-transition: all cubic-bezier(.27,1.04,.46,1.083);
	-moz-transition: all cubic-bezier(.27,1.04,.46,1.08);
	transition: all cubic-bezier(.27,1.04,.46,1.08);
}

.transition-txt-3{
	-webkit-transition: all ease-in;
	-ms-transition: all ease-out;
	-moz-transition: all ease-out;
	transition: all ease-out ;
		
	-webkit-transition: all cubic-bezier(.6,1.63,.48,.82);
	-ms-transition: all cubic-bezier(.6,1.63,.48,.823);
	-moz-transition: all cubic-bezier(.6,1.63,.48,.82);
	transition: all cubic-bezier(.6,1.63,.48,.82);
}

.transition-1 {
    --webkit-transition: all linear;
    -ms-transition: all linear;
    -moz-transition: all linear;
    transition: all linear;
}

.transition-2 {
    -webkit-transition: all ease-out;
    -ms-transition: all ease-out;
    -moz-transition: all ease-out;
    transition: all ease-out;
}

.transition-3 {
    -webkit-transition: all ease-in;
    -ms-transition: all ease-in;
    -moz-transition: all ease-in;
    transition: all ease-in;
}

.transition-4 {
    -webkit-transition: all ease-in-out;
    -ms-transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    transition: all ease-in-out;
}

.transition-txt-in{
	transform:
		perspective(100px)
		translate3d(0px,0px,0px)
		scale3d(1, 1, 1)
		rotate3d(0, 1, 0, 0deg)
		skewX(0deg) skewY(0deg);
	transition: all cubic-bezier(0.390, 0.575, 0.565, 1.000);	
}

/* Tempo de Transição */
.temp02 {
    transition-duration: 0.2s;
}

.temp05 {
    transition-duration: 0.5s;
}

.temp1 {
    transition-duration: 1s;
}

.temp15 {
    transition-duration: 1.5s;
}

.temp2 {
    transition-duration: 2s;
}

.temp25 {
    transition-duration: 2.5s;
}

.temp3 {
    transition-duration: 3s;
}

.temp4 {
    transition-duration: 4s;
}

.temp5 {
    transition-duration: 5s;
}

/* functions */

.right-1 {
    -webkit-transform: translate(var(--width), 0px) rotate(0.01deg);
    -moz-transform: translate(var(--width), 0px) rotate(0.01deg);
    -ms-transform: translate(var(--width), 0px) rotate(0.01deg);
    -o-transform: translate(var(--width), 0px) rotate(0.01deg);
    transform: translate(var(--width), 0px) rotate(0.01deg);
}

.left-1 {
    -webkit-transform: translate(var(--left), 0px) rotate(0.01deg);
    -moz-transform: translate(var(--left), 0px) rotate(0.01deg);
    -ms-transform: translate(var(--left), 0px) rotate(0.01deg);
    -o-transform: translate(var(--left), 0px) rotate(0.01deg);
    transform: translate(var(--left), 0px) rotate(0.01deg);
}

.up-1 {
    -webkit-transform: translate(0px, var(--up)) rotate(0.01deg) !important;
    -moz-transform: translate(0px, var(--up)) rotate(0.01deg) !important;
    -ms-transform: translate(0px, var(--up)) rotate(0.01deg) !important;
    -o-transform: translate(0px, var(--up)) rotate(0.01deg) !important;
    transform: translate(0px, var(--up)) rotate(0.01deg) !important;
}

.txt-up {
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

.txt-mini {
    transform: translate3d(0, 0, 0) scale(.01);
    -webkit-transform: translate3d(0, 0, 0) scale(.01);
    -ms-transform: translate3d(0, 0, 0) scale(.01);
    -moz-transform: translate3d(0, 0, 0) scale(.01);
}

/* animations */

.animClass {
    transform: translate3d(0, 0, 0);
    /* Force Hardware Acceleration */
}

/* Scale */

.scale-1 {
    animation-name: scale-1;
    animation-iteration-count: 1;
    animation-duration: var(--timeScale);
    animation-fill-mode: forwards;
    -webkit-animation-name: scale-1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: var(--timeScale);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: scale-1;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: var(--timeScale);
    -moz-animation-fill-mode: forwards;
}


.transition-txt-scale {
    -webkit-transform: scale3d(1.2,1.2,1);
    transform: scale3d(1.2,1.2,1);
}

.bg-scale {
    -webkit-transform: scale3d(1.1,1.1,1) !important;
    transform: scale3d(1.1,1.1,1) !important;
}

@keyframes scale-1 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes scale-1 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@-moz-keyframes scale-1 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes anim1 {
    0% {
        width: 0px;
    }
    100% {
        width: 161px;
    }
}

@-webkit-keyframes anim1 {
    0% {
        width: 0px;
    }
    100% {
        width: 161px;
    }
}

@-moz-keyframes anim1 {
    0% {
        width: 0px;
    }
    100% {
        width: 161px;
    }
}

@keyframes anima-left {
    0% {
        left: -10px;
    }
    /* o frame inicial começa na posição 0 da imagem*/
    40% {
        left: -10px;
    }
    100% {
        left: -55px;
    }
    /* o frame final termina no tamanho total da largura da imagem */
}

@-webkit-keyframes anima-left {
    0% {
        left: -10px;
    }
    40% {
        left: -10px;
    }
    100% {
        left: -55px;
    }
}

@-moz-keyframes anima-smoke {
    0% {
        left: -10px;
    }
    40% {
        left: -10px;
    }
    100% {
        left: -55px;
    }
}

@-ms-keyframes anima-smoke {
    0% {
        left: -10px;
    }
    40% {
        left: -10px;
    }
    100% {
        left: -55px;
    }
}

@-o-keyframes anima-smoke {
    0% {
        left: -10px;
    }
    40% {
        left: -10px;
    }
    100% {
        left: -55px;
    }
}